* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


header {
  width: 100%;
  padding: 0 15%;
  background: #8e00aa;
  /* position: fixed; */
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.welcome_box {
  /* margin-top: 240px; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 900px;
}

.welcome_box_textpart_one,
.welcome_box_textpart_two {
  display: flex;
  justify-content: center;
}

.welcome_box h1 {
  font-size: 100px;
}

.welcome_box_coinsPart {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.bitcoin_price {
  font-weight: bold;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 1200px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.content-table thead tr {
  background-color: #d400ff;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 30px 15px;
}

.content-table tbody tr{
  border-bottom: 1px solid #dddddd;
}

/* .content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
} */

.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #d400ff;
}

tr:hover{
  background-color: #f3f3f3;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 3 / 1 / 4 / 2; }
  .div4 { grid-area: 1 / 3 / 2 / 4; }
  .div5 { grid-area: 2 / 3 / 3 / 4; }
  .div6 { grid-area: 3 / 3 / 4 / 4; }
  .div7 { grid-area: 1 / 2 / 4 / 3; }

  .div1, .div2, .div3, .div4, .div5, .div6, .div7{
    border: 1px solid black;

  }