* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  padding: 0 15%;
  background: #d400ff;
  /* position: fixed; */
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

/* .welcome_box{
display: flex;
flex-flow: row wrap;
} */


.welcome_box_textpart_one, .welcome_box_textpart_two, .welcome_box_coinspart {
    display: flex;
    justify-content: center;
  }