* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}


header {
  width: 100%;
  padding: 0 15%;
  background: #8e00aa;
  /* position: fixed; */
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.welcome_box {
  /* margin-top: 240px; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 900px;
}

.welcome_box_textpart_one,
.welcome_box_textpart_two {
  display: flex;
  justify-content: center;
}

.bitcoin_animation{
  position: relative;
  right: 40px;
  top: 25px;
  animation: bounce 2s ease infinite;
}

.eth_animation{
  position: relative;
  left: 40px;
  top: 25px;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	20% {transform: translateY(-15px);}
	80% {transform: translateY(-5px);}
}

.welcome_box h1 {
  font-size: 100px;
}

.welcome_box_coinsPart {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 1200px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.content-table thead tr {
  background-color: #d400ff;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 30px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #d400ff;
}

tr:hover {
  background-color: #f3f3f3;
}

.market_box {
  margin-bottom: 240px;
}

.market_pages{
display: flex;
justify-content: center;
}

.market_pages button{
  background-color: #f3f2f4;
  border: 2px solid #8e00aa;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.1rem;
  height: 2.8rem;
  width: 2.8rem;
  margin: 0 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.any_choose_box {
  padding: 25px;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 2.4rem;
  display: flex;
  min-height: 160px;
}

.any_choose_box img{
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin: 0 20px 0 0;
}

/* img{
  max-width:100%;
         height:auto;
} */

.join_us_box{
margin-top: 140px;
margin-bottom: 150px;
}

.join_us_textpart_one,
.join_us_textpart_two,
.join_us_ptext,
.join_us_button {
  display: flex;
  justify-content: center;
}

.join_us_box h1 {
  font-size: 100px;
}

footer{
  width: 100%;
  height: 70px;
  background: #8e00aa;
}

/* button {
	background-color:#d400ff;
	border-radius:20px;
	border:1px solid #8e00aa;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 45px;
	text-decoration:none;
  margin-top: 15px;
}
button:hover {
	background-color:#be00e4;
}
button:active {
	position:relative;
	top:1px;
} */

.sd{
width: 240;
}

